
	<!--导航-->
<div class="nva-box" id="nva">
<!--  <form  method="get" action="{eyou:searchurl /}">
    <input type="hidden" name="channel" value="" />
    <input type="hidden" name="typeid" value="" />
    <input type="text" id="keywords" name="keywords" placeholder="{eyou:lang name='sys7' /}" />
    <input type="submit" id="" value="{eyou:lang name='sys7' /}" />
    <div class="clearfix"></div>
  </form> -->
  <ul class="nva-list">
    <li><a href="{eyou:global name='web_cmsurl' /}/">{eyou:lang name='sys1' /}</a></li>
    {eyou:channel type="top" row="10" id="field"}
    <li><a href="{$field.typeurl}">{$field.typename}</a>{eyou:notempty name="$field.children"}<span></span>{/eyou:notempty}</li>
    {eyou:notempty name="$field.children"}
    <dl>
      {eyou:channel name="$field.children" row="100" id="field2"}
      <dd><a href="{$field2.typeurl}">{$field2.typename}</a></dd>
      {/eyou:channel}
    </dl>
    {/eyou:notempty}
    {/eyou:channel}
  </ul>
</div>
