  <!--联系我们-->
  <div class="w-container w-main">
    <div class="w-section pdTop-default pdBottom-default" style="background:#047ac0;">
      <div class="row" >
        <div class="row-mask" ></div>
        <div class="wrap-content-in  pdTop-large pdBottom-large">
    
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>                    
                    <td class="td-w" width="89.466122014735774%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-text" data-animate="" style="">
                            <div style="color:#fff;">
                              <h3 style="font-size:110%;margin:0px 0px 10px 0px;">{eyou:global name='web_name' /}</h3> <!--margin:30px 0 40px; --> 
                              <p style="line-height:1.5; font-size:90%;">联系人：{eyou:global name='web_attr_3' /} &nbsp;&nbsp;手机：{eyou:global name='web_attr_7' /}<br/>
                                邮箱：{eyou:global name='web_attr_11' /}&nbsp;&nbsp;地址：{eyou:global name='web_attr_4' /}<br/>
                                热线电话：{eyou:global name='web_attr_1' /}<br/>
                            {$global.web_copyright|htmlspecialchars_decode}--SEO技术支持：<a  href="http://www.0917bjms.com/" style="color: #fff;">麦思科技</a> &nbsp;&nbsp;
			{eyou:global name='web_recordnum' /}  </p>
                            </div>
                          </div>
                        </div>
                      </div></td>
                      <td class="td-w" width="10.5040650406504%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-map" data-animate="" style="">
                            <div class="map">
                           <img src="{eyou:global name='web_attr_10' /}" width="100%"  height=" 100px">
                            </div>
                          </div>
                        </div>
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
  
  
  <div class="w-service-fixed">
    <div class="service-item bg_s_default color_s_default aHoverbg_deepen aHovercolor_deepen service-item-top"> <i class="fa fa-caret-up"></i>
      <div class="top" onclick="$('body,html').animate({scrollTop: 0}, 'normal');">TOP</div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 20) {
                    $('.w-service-fixed .service-item-top').show();
                } else {
                    $('.w-service-fixed .service-item-top').hide();
                }
            });
        });
    </script> 
  </div>
</div>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->
<div id='cs_box'>
   	<span class='cs_title'>在线咨询</span>
   	<span class='cs_close'>x</span>
   	<div class='cs_img'></div>
   	<span class='cs_info'>有什么可以帮到你</span>
   	<div class='cs_btn'>点击咨询</div>
   </div>
   <style>
   	#cs_box {width:120px; height:220px; background:#1692d6; position:fixed; right:10px; top:500px; border-radius:10px; z-index:1000}
   	#cs_box span {color:#fff; height:20px; line-height:20px; font-family:'Arial'; display:block;}
   	.cs_close {position:absolute; right:10px; top:10px; cursor:pointer; font-size:12px;}
   	.cs_title {font-size:14px; margin:10px; font-weight:bold;}
   	.cs_img {width:100px; height:100px; background:#fff; margin:10px;}
   	.cs_info {font-size:12px; margin:0px 10px; overflow:hidden; text-align:center;}
   	.cs_btn {width:100px; height:25px; border: 1px solid #ccc; margin:5px 10px; border-radius:5px; font-size:12px; line-height:25px; color:#fff; text-align:center; cursor:pointer;}
   	.cs_btn:hover{background: #fff;color: #1692d6;}
   </style>
   {eyou:static file="skin/js/kf.js" /}
   <script type="text/javascript">
   	myEvent(window,'load',function(){
   		cs_box.set({
   			img_path : '/template/default/pc/skin/img/kf.jpg',		//设置图片路径
   			qq : '{eyou:global name='web_attr_2' /}',		//设置QQ号码
   		});
   	});
	
   </script>
<!--   <script language="Javascript">
	   //禁止右键
   document.oncontextmenu=new Function("event.returnValue=false");
   document.onselectstart=new Function("event.returnValue=false");
  // 禁止F12
           document.onkeydown = function () {
               if (window.event && window.event.keyCode == 123) {
                   event.keyCode = 0;
                   event.returnValue = false;
                   return false;
               }
           };
   </script> -->