<!DOCTYPE HTML>
<html>
<head>
<title>{$eyou.field.seo_title}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport" />
{eyou:static file="skin/js/jquery-1.10.1.min.js" /}
{eyou:static file="skin/js/state.js" /}
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/global.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/widget.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/variouscomponents.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/images.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/theme.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/color_0.css">

{eyou:static file="skin/css/bootstrap.min.css" /}
{eyou:static file="skin/css/slick.css" /}
{eyou:static file="skin/css/style.css" /}

<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
<!--[if !IE]><!-->
<script src="{eyou:global name='web_templets_pc' /}/skin/js/base.js"></script>
<link href="{eyou:global name='web_templets_pc' /}/skin/css/lightbox.min.css" rel="stylesheet">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.superslide.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/common.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/theme.js"></script>
<!-- feib -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/layer.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/language.js"></script>
<!-- plugins -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.formsvalidation.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.nodecommon.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/extend.js"></script>
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/animate.min.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/animate.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/components.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.menu_style.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.init.js"></script>
{eyou:static file="skin/js/slick.min.js" /}
{eyou:static file="skin/js/bootstrap.min.js" /}
<script type="text/javascript">
$(function(){
    dataAnimate();
    (function($,lanno){
        if(lanno === "" || lanno === "default"){
            return '';
        }
        $(".w-languege").each(function(){
            $(this).find("a").each(function(){
                if($(this).data("lanno") === lanno){
                    $(this).addClass("cur");
                }else{
                    if($(this).hasClass("cur")){
                        $(this).removeClass("cur");
                    }
                }
            });
        });
    })(jQuery,"cn");
});
</script>
</head>
<body>
<div class="body"> {eyou:include file="header.htm"/}
  <section class="w-container bannerBox ">
    <div class="banner"> <img src="{eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}
" alt="banner" title="" style=""  /> <a href="javascript:void(0);" ><span style="display:none;">none</span></a> </div>
  </section>
  <div id="page">
    <div class="container">
      {eyou:include file="left.htm" /}
      <div class="pageInfo">
        <div class="content">
          {eyou:include file="position.htm" /}
          <div class="product pageIntro">
            <div class="proCenImgs">
              <div class="">
              {eyou:list titlelen='20' pagesize='9'}
                <div class="proimg col-lg-4 col-md-4 col-sm-4 col-xs-6"> <a href="{$field.arcurl}"> <img src="{$field.litpic}" alt="{$field.title}"> <span>{$field.title}</span>
                  <!--<div class="layer hidden-xs">
                    <div class="title tc">
                      <h3>{$field.title}</h3>
                    </div>
                    <div class="intro">
                      <p> {$field.seo_description|html_msubstr=###,0,20,true}</p>
                    </div>
                  </div>-->
                  </a> </div>
                {/eyou:list}  
              </div>
            </div>
			<div class="clear">
			</div>
            <div class="paginationBox tc">
              <dd>
              {eyou:pagelist listitem='index,pre,pageno,next,end' listsize='2' /}
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page_end --> 
  {eyou:include file="footer.htm"/} </div>
<div class="topTel" onclick="$('body,html').animate({scrollTop: 0}, 500);"><i class="fa fa-arrow-up"></i></div>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.global.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.form.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/lightbox.min.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.product_list.js"></script>
</body>
</html>